* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: 'Raleway', sans-serif; 
    width: 100vw;
    height: 100vh;
    background-color: #00ff78;
    display: grid;
    grid-template-columns: 70% 30%;

    &__section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__wrap {
            width: 60%;

            &__heading {
                font-size: 4rem; color: #f2f2f2;
                font-weight: 600;
                padding: 0 0 20px 0;
            }

            &__paragraph {
                font-size: 1.3rem; color: #AAAAAA;
                font-weight: 300;
                padding: 0 0 40px 0;
                letter-spacing: 2px;
            }

            &__btn {
                border: 1.2px solid #00ff78;
                width: 170px;
                height: 55px;
                background: transparent;
                font-size: 1.1rem; color: #00ff78;
                font-weight: 300;
                transition-duration: 0.5s;
                
                &:hover {
                    background: #00ff78;
                    font-size: 1.1rem; color: #1d1d1d;
                }
            }
        }

        &__wraper {
            width: 450px;
            margin: 0 100px 20px 100px;
            display: flex;
            flex-direction: row;
            align-items: center;

            &__socials {
                width: 100px;
                height: 100px;
                border: 2px solid #1d1d1d;
                margin: 0 25px 25px 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 50px; color: #1d1d1d;
                transition-duration: 0.5s;
                
                &:hover {
                    border: 2px solid #1d1d1d;
                    background: #1d1d1d;
                    font-size: 50px; color: #00ff78;
                }
            }
        }
    }
}

.color {
    color: #00ff78;
}

.clip-path {
    clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
    background:  #1d1d1d;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

@media (max-width: 1500px) {
   .container__section__wraper{
       width: 360px;

       &__socials {
           width: 70px;
           height: 70px;
       }
    }
}

@media (max-width: 1200px) {
    .container__section__wrap {

        &__heading {
            font-size: 3rem;
        }

        &__paragraph {
            font-size: 1rem;
        }

        &__btn {
            width: 130px;
            height: 35px;
            font-size: 0.7rem;

            &:hover {
                font-size: 0.7rem; color: #1d1d1d;
            }
        }
    }

    .container__section__wraper{
        width: 280px;
 
        &__socials {
            width: 50px;
            height: 50px;
            font-size: 30px;
            margin: 0 10px 25px 10px;

            &:hover {
                border: 1.5px solid #1d1d1d;
                font-size: 30px; color: #00ff78;
            }
        }
     }
}

@media (max-width: 965px) {
    .container {
        display: grid;
        background: #00ff78;
        grid-template-columns: 1fr;
        min-height: fill-available;

        &__section {
            
            &__wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width:100%;

                &__heading {
                    text-align: center;
                }

                &__paragraph {
                    text-align: center;
                    font-size: 0.6rem;
                }
            }
        }

    }

    .flex {
        display: none;
    }

    .clip-path {
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
        background: #1d1d1d;
    }
 }
 
