* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background: #DADADA;
}

html {
  scroll-behavior: smooth;
}

a, a:visited, a:hover, a:active {
  color: transparent;
  text-decoration: none;
}

.container {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #00ff78;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

.container__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__section__wrap {
  width: 60%;
}

.container__section__wrap__heading {
  font-size: 4rem;
  color: #f2f2f2;
  font-weight: 600;
  padding: 0 0 20px 0;
}

.container__section__wrap__paragraph {
  font-size: 1.3rem;
  color: #AAAAAA;
  font-weight: 300;
  padding: 0 0 40px 0;
  letter-spacing: 2px;
}

.container__section__wrap__btn {
  border: 1.2px solid #00ff78;
  width: 170px;
  height: 55px;
  background: transparent;
  font-size: 1.1rem;
  color: #00ff78;
  font-weight: 300;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container__section__wrap__btn:hover {
  background: #00ff78;
  font-size: 1.1rem;
  color: #1d1d1d;
}

.container__section__wraper {
  width: 450px;
  margin: 0 100px 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__section__wraper__socials {
  width: 100px;
  height: 100px;
  border: 2px solid #1d1d1d;
  margin: 0 25px 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  color: #1d1d1d;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container__section__wraper__socials:hover {
  border: 2px solid #1d1d1d;
  background: #1d1d1d;
  font-size: 50px;
  color: #00ff78;
}

.contact {
  background: white;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__container {
  width: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

.contact__container__heading {
  font-size: 40px;
  color: #000;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: block;
}

.contact__container__btn {
  background: none;
  color: #00ff78;
  border: 2px solid #00ff78;
  padding: 12px 40px;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-top: 40px;
}

.contact__container__btn:hover {
  background: #00ff78;
  color: #1d1d1d;
}

.contact .name, .contact .email, .contact .message {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  color: #888;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
}

.contact .name {
  width: 75%;
}

.contact .email {
  width: 75%;
}

.contact .message {
  min-width: 75%;
  max-width: 75%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  resize: none;
}

.color {
  color: #00ff78;
}

.clip-path {
  -webkit-clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
  background: #1d1d1d;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1500px) {
  .container__section__wraper {
    width: 360px;
  }
  .container__section__wraper__socials {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 1200px) {
  .container__section__wrap__heading {
    font-size: 3rem;
  }
  .container__section__wrap__paragraph {
    font-size: 1rem;
  }
  .container__section__wrap__btn {
    width: 130px;
    height: 35px;
    font-size: 0.7rem;
  }
  .container__section__wrap__btn:hover {
    font-size: 0.7rem;
    color: #1d1d1d;
  }
  .container__section__wraper {
    width: 280px;
  }
  .container__section__wraper__socials {
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 0 10px 25px 10px;
  }
  .container__section__wraper__socials:hover {
    border: 1.5px solid #1d1d1d;
    font-size: 30px;
    color: #00ff78;
  }
}

@media (max-width: 965px) {
  .container {
    display: -ms-grid;
    display: grid;
    background: #00ff78;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 95vh;
  }
  .container__section__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .container__section__wrap__heading {
    text-align: center;
  }
  .container__section__wrap__paragraph {
    text-align: center;
    font-size: 0.6rem;
  }
  .contact__container {
    width: 500px;
  }
  .contact__container__heading {
    font-size: 26px;
  }
  .flex {
    display: none;
  }
  .clip-path {
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    background: #1d1d1d;
  }
}

@media (max-width: 500px) {
  .contact__container {
    width: 300px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  .contact__container__heading {
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */